<head>
<link rel="stylesheet" href="/css/storefrontcss.css">
</head>
<div id="container">
    <header>
      <div id="header-left">
        <a href="/">Home</a>
      </div>
      <div id="header-right">
        <span>
          <a href="/settings" class="username-box">  
          <%= username %>
          </a>
          <form action="/storepage/logout" method="post">
            <button class="username-box">
              <a class="textlogout"> logout </a>
            </button>
          </form>
        </span>
      </div>
    </header>
    <main>
      <div id="item-grid">
        <% items.map(item => { %>
          <div class="item-placeholder">
              <h3 class="card-title"><%= item.name %></h3>
              <p class="card-text"><%= item.description %></p>
              <p class="card-text">Price: <%= item.price %></p>
              <% if (username == 'admin') { %>
                  <form action="/storepage/remove-item" method="post">
                      <input type="hidden" name="item-id" value="<%= item.id %>">
                      <button type="submit" class="btn btn-unprimary">Remove from Inventory</button>
                  </form>
              <% } else { %>
                  <form action="/storepage" method="post">
                      <input type="hidden" name="item-id" value="<%= item.id %>">
                      <button type="submit" class="btn btn-primary">Add to Cart</button>
                  </form>
              <% } %>
          </div>
        <% }) %>
        <% if (username === 'admin') { %>
        <div class="item-placeholder"> 
          <form action="/storepage/add-item" method="post">
            <div class="card-title">
              <label for="Titlenew">Title</label>
              <input type="text" id="titlenew" name="titlenew" placeholder="Enter a title" required>
            </div>
            <div class="form-group">
              <label for="Descriptionnew">Description</label>
              <input type="text" id="descriptionnew" name="descriptionnew" placeholder="Enter a description" required>
            </div>
            <div class="form-group">
              <label for="Costnew">Cost</label>
              <input type="text" id="costnew" name="costnew" placeholder="Enter a cost" required>
            </div>
            <button type="submit" class="btn btn-primary">Add</button>
          </form>    
        </div>
        <% } %>
      </div>
    </main>
  </div>
  